<div class="key"></div>
<p class="byline brandon">Saiba mais</p>
<%= form_for @user, :url => { :action => "create" } do |f| %>
  <%= f.text_field :email, :placeholder => "Email", :class => "email brandon" %>
  <input class="submit brandon" name="commit" type="submit" value="Cadastre-se" />
<% end %>
