<p class="thanks brandon">Obrigado por participar<br>de nosso pré-lançamento.</p>
<p class="compiling brandon">Estamos compilando os prémios e enviaremos um email<br/>com intruções para receber seu urv2 nos próximos dias</p>
<p class="go-to brandon">Enquanto isso, vá para  <a href="http://www.urv2.com.br/">http://www.urv2.com.br/</a></p>
<p class="again brandon">Obrigado mais uma vez.</p>
