<div class="hero">
  <img class="large brandon" src="<%= asset_path('logo2.png') %>" alt="logo">
  <!-- <p class="large brandon"><i class='fa major fa-bitcoin'></i>itReal</p> -->
  <p class="small brandon">Financiando <b>Transparência</b> <br>com <i class="fa fa-usd"></i> da Corrupção Pública</p>
</div>

<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
  <% if Rails.application.config.ended %>
    <%= render "users/campaign_ended" %>
  <% else %>
    <%= render "users/campaign_ongoing" %>
  <% end %>
</div>
